b2bTools==3.0.8b3
biopython==1.87
bokeh==3.9.0
IPython==9.12.0
ipywidgets==8.1.8
networkx==3.6.1
nglview==3.1.4
numpy==1.26.4
pandas==2.1.4
py3Dmol==2.5.4
pyvis==0.3.2
requests==2.33.1
scikit-learn==1.4.2
scipy==1.12.0
torch==2.11.0
